/venv
/Data/data_preprocesada/reviews_estado_puro.parquet
Data/data_procesada/reviews_google_maps.parquet
/Data/google_maps/metadata-sitios/
/Data/google_maps/reviews_estados/
/Data/google_maps/Diccionario de datos.docx
pruebas.ipynb